
.modal-header {
  padding: 7px;
}
  .modal-content{
    box-shadow: 2px 2px 4px #f7921e;
  }
.modal-header .modal-title {
    color: #002542;
}

.modal.animate {
    opacity:0
}
 .modal.animate.in {
    opacity:1
}
 .modal.animate .modal-dialog{
    -webkit-transform:translate(0,0);
    -ms-transform: translate(0,0);
    transform:translate(0,0)
}
 .modal.animate .a-fadeLeftBig{
    -webkit-animation:fadeOutLeftBig .5s;
    animation:fadeOutLeftBig .5s
}
 .modal.animate.in .a-fadeLeftBig{
    -webkit-animation:fadeInLeftBig .5s;
    animation:fadeInLeftBig .5s
}
 .modal.animate .a-fadeRightBig{
    -webkit-animation:fadeOutRightBig .5s;
    animation:fadeOutRightBig .5s
}
 .modal.animate.in .a-fadeRightBig{
    -webkit-animation:fadeInRightBig .5s;
    animation:fadeInRightBig .5s
}
 .modal.animate .a-fadeUpBig{
    -webkit-animation:fadeOutUpBig .5s;
    animation:fadeOutUpBig .5s
}
 .modal.animate.in .a-fadeUpBig{
    -webkit-animation:fadeInUpBig .5s;
    animation:fadeInUpBig .5s
}
 .modal.animate .a-fadeDownBig{
    -webkit-animation:fadeOutDownBig .5s;
    animation:fadeOutDownBig .5s
}
 .modal.animate.in .a-fadeDownBig{
    -webkit-animation:fadeInDownBig .5s;
    animation:fadeInDownBig .5s
}
 .modal.animate .a-fadeRight{
    -webkit-animation:fadeOutRight .5s;
    animation:fadeOutRight .5s
}
 .modal.animate.in .a-fadeRight{
    -webkit-animation:fadeInRight .5s;
    animation:fadeInRight .5s
}
 .modal.animate .a-fadeLeft{
    -webkit-animation:fadeOutLeft .5s;
    animation:fadeOutLeft .5s
}
 .modal.animate.in .a-fadeLeft{
    -webkit-animation:fadeInLeft .5s;
    animation:fadeInLeft .5s
}
 .modal.animate .a-fadeUp{
    -webkit-animation:fadeOutUp .5s;
    animation:fadeOutUp .5s
}
 .modal.animate.in .a-fadeUp{
    -webkit-animation:fadeInUp .5s;
    animation:fadeInUp .5s
}
 .modal.animate .a-fadeDown{
    -webkit-animation:fadeOutDown .5s;
    animation:fadeOutDown .5s
}
 .modal.animate.in .a-fadeDown{
    -webkit-animation:fadeInDown .5s;
    animation:fadeInDown .5s
}
 .modal.animate .a-lightSpeed{
    -webkit-animation:lightSpeedOut .5s;
    animation:lightSpeedOut .5s
}
 .modal.animate.in .a-lightSpeed {
    -webkit-animation:lightSpeedIn .5s;
    animation: lightSpeedIn .5s
}
 .modal.animate .a-flipX{
    -webkit-animation:flipOutX .5s;
    animation:flipOutX .5s
}
 .modal.animate.in .a-flipX{
    -webkit-animation:flipInX .5s;
    animation:flipInX .5s
}
 .modal.animate .a-flipY{
    -webkit-animation:flipOutY .5s;
    animation:flipOutY .5s
}
 .modal.animate.in .a-flipY{
    -webkit-animation:flipInY .5s;
    animation:flipInY .5s
}
 .modal.animate .a-roll{
    -webkit-animation:rollOut .5s;
    animation: rollOut .5s
}
 .modal.animate.in .a-roll{
    -webkit-animation:rollIn .5s;
    animation:rollIn .5s
}
 .modal.animate .a-bounce{
    -webkit-animation:bounceOut .5s;
    animation:bounceOut .5s
}
 .modal.animate.in .a-bounce{
    -webkit-animation:bounceIn .5s;
    animation:bounceIn .5s
}
 .modal.animate .a-rotate{
    -webkit-animation:rotateOut .5s;
    animation:rotateOut .5s
}
 .modal.animate.in .a-rotate{
    -webkit-animation:rotateIn .5s;
    animation:rotateIn .5s
}
 .modal.animate .a-zoom{
    -webkit-animation:zoomOut .5s;
    animation:zoomOut .5s
}
 .modal.animate.in .a-zoom{
    -webkit-animation:zoomIn .5s;
    animation:zoomIn .5s
}
 .modal.animate .a-zoomUp{
    -webkit-animation:zoomOutUp .5s;
    animation:zoomOutUp .5s
}
 .modal.animate.in .a-zoomUp{
    -webkit-animation: zoomInUp .5s;
    animation:zoomInUp .5s
}
 .modal.animate .a-zoomRight {
    -webkit-animation: zoomOutRight .5s;
    animation:zoomOutRight .5s
}
 .modal.animate.in .a-zoomRight{
    -webkit-animation: zoomInRight .5s;
    animation:zoomInRight .5s
}
 .modal.animate .a-zoomDown{
    -webkit-animation:zoomOutDown .5s;
    animation:zoomOutDown .5s
}
 .modal.animate.in .a-zoomDown{
    -webkit-animation:zoomInDown .5s;
    animation:zoomInDown .5s
}
 .modal.animate .a-zoomLeft{
    -webkit-animation:zoomOutLeft .5s;
    animation:zoomOutLeft .5s
}
 .modal.animate.in .a-zoomLeft{
    -webkit-animation:zoomInLeft .5s;
    animation:zoomInLeft .5s
}
 