/* Portrait phones and smaller */
@media (max-width: 480px) {
	h1{font-size: 20px;}h2{font-size: 19px;}h3{font-size: 17px;}
	h4{font-size: 16px;}h5{font-size: 15px;}h6{font-size: 14px;}
	p{font-size: 12px;}
	a{font-size: 12px;text-decoration: none;}

}
/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px){
	h1{font-size: 22px;}h2{font-size: 21px;}h3{font-size: 20px;}
	h4{font-size: 18px;}h5{font-size: 16px;}h6{font-size: 15px;}
	p{font-size: 12px;}
	a{font-size: 12px;text-decoration: none;}
#main-banner .carousel-inner .item img {
		height: auto !important;
		max-height: 270px;
	}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	h1{font-size: 22px;}h2{font-size: 21px;}h3{font-size: 20px;}
	h4{font-size: 18px;}h5{font-size: 16px;}h6{font-size: 15px;}
	p{font-size: 12px;}
	a{font-size: 12px;text-decoration: none;}

}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}
@media print {

}


@media (max-width: 767px){
	.no-pxs{
		padding: 0;
	}
	.top-bar .top-link a {
		padding: 0px 0px 0px 0px !important;
	}
	.top-link .login {
    background-color: #F2A516;
    line-height: 30px;
}
	.middle-bar {
		padding: 3px 0 3px;
	}
	.select_category {
		width: 115px;
	}
	.middle-bar .container-fluid {
		padding-right: 5px;
		padding-left: 5px;
	}
	.navbar-phone .phone-header h3 {
		font-size: 12px;
		margin-bottom: 2px;
		margin-top: 4px;
	}
	.navbar-phone .phone-header p {
		font-size: 10px;
	}
	.navbar-phone img {
		width: 28px;
	}
	.shopping_cart a.top_cart .handle {
		margin-left: 0;
		width: 30px;
		height: 30px;
		margin: 5px 4px;
	}
	.shopping_cart a.top_cart .shopcart .text-shopping-cart {
		width: 75%;
	}

	.navbar-default {
		background-color: #710100;;
		border-radius: 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar .navbar-brand img {
		position: relative;
		top: -10px;
		height: 50px;
	}
	.navbar .navbar-nav {
		z-index: 25;
		position: relative;
		background-color: #fff;
	}
	.navbar .navbar-collapse {
		margin-top: 10px;
	}




	.shopping_cart .shoppingcart-box {
		margin-top: 3px !important;
	}
	.btn-shopping-cart .dropdown-menu {
		min-width: 300px;
	}
	.btn-shopping-cart .dropdown-menu .table>thead>tr>th{
		font-size: 12px;
	}
	.shopping_cart .shoppingcart-box a.btn{
		font-size: 12px;
	}
	.shopping_cart  strong {
		font-weight: 700;
		font-size: 12px;
	}




	/*********************/
	/* banner */ 
	#arrange {
		display:flex; 
		flex-direction: column; 
		/*text-align:center;*/
	}
	#firstDiv {
		order: 2 
	}
	#secondDiv { 
		order: 1 
	}

	#main-banner {
		margin-top: 10px;
	}
	.main-slider .container-fluid {
		padding-right: 5px;
		padding-left: 5px;
	}
	#main-banner .carousel-inner .item img {
		height: 150px;
	}
	.side-pad {
		padding-right: 0;
		padding-left: 0px;
	}
	.sidebar{
		height: auto;
	}
	.step-item {
		border-bottom: 1px solid #eee;
		border-left: 0;
	}
	.carousel-control .icon-next, 
	.carousel-control .glyphicon-chevron-right {
		margin-left: -16px;
	}
	.carousel-control .icon-prev, 
	.carousel-control .glyphicon-chevron-left {
		margin-right: -15px;
	}

	/*********************/
	/* social */
	.footer-head {
		padding-top: 5px;
	}
	.socials-wrap ul .li-social {
		margin-right: 10px;
		margin-bottom: 0px;
	}
	.socials-wrap ul .li-social a {
		width: 25px;
		height: 25px;
		line-height: 25px;
	}
	.socials-wrap {
		padding: 12px 30px 10px;
	}
	.block-subscribe-footer {
		padding: 5px 0;
	}
	.block-subscribe-footer .title-middle-footer {
		display: block;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 700;
		white-space: none;
		padding-left: 0;
	}
	.block-subscribe-footer .form.subscribe {
		display: block;
	}

	.block-subscribe-footer .form.subscribe .input-box #newsletter-footer {
		font-size: 14px;
	}
	/******************************/
	/* footer */
	.contact-col .footer-block {
		padding: 1px 10px 30px 10px;
	}


	/*************************/
	/*single product */
	.header-navigation .breadcrumb {
		padding: 0.20rem 0rem;
	}
	.header-navigation .btn{
		padding: 6px 7px;
	}
	.store-body .product-payment-details {
		padding: 15px 5px 0 5px;
	}
	.product-gallery-thumbnails .thumbnails-list li {
		height: auto;
		max-height: 50px;
	}
	.product-gallery-featured img {
		width: 100%;
		max-width: 300px;
		max-height: 300px;
	}
	.product-payment-details .add-btn {

		margin-bottom: 20px;
	}
	.producttab .tabsslider .nav-tabs li a {
		padding: 10px 9px;
	}
	.producttab .tabsslider .tab-content {
		padding: 15px;
	}

	/******************/
	/*profile*/
	.breadcrumb li{
		padding: 0 5px 0 10px;
	}
	.profile-page .nav-tabs li a{
		padding: 10px 6px;	
	}
	.profile-page .tab-content {
		padding: 20px 5px;
	}

	.bill .table-bordered>thead>tr>th, 
	.bill .table-bordered>tbody>tr>th, 
	.bill .table-bordered>tfoot>tr>th, 
	.bill .table-bordered>thead>tr>td, 
	.bill .table-bordered>tbody>tr>td, 
	.bill .table-bordered>tfoot>tr>td {
		
		font-size: 11px;
		    padding: 4px;
	}

}



