/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 #520100
 */
 @font-face {
 	font-family: 'Droid Arabic Kufi';
 	font-style: normal;
 	font-weight: 400;
 	src: url(../fonts/kufi/DroidKufi-Regular.eot);
 	src: url(../fonts/kufi/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
 	url(../fonts/kufi/DroidKufi-Regular.woff2) format('woff2'),
 	url(../fonts/kufi/DroidKufi-Regular.woff) format('woff'),
 	url(../fonts/kufi/DroidKufi-Regular.ttf) format('truetype');
 }
 @font-face {
 	font-family: 'Droid Arabic Kufi';
 	font-style: normal;
 	font-weight: 700;
 	src: url(../fonts/kufi/DroidKufi-Bold.eot);
 	src: url(../fonts/kufi/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
 	url(../fonts/kufi/DroidKufi-Bold.woff2) format('woff2'),
 	url(../fonts/kufi/DroidKufi-Bold.woff) format('woff'),
 	url(../fonts/kufi/DroidKufi-Bold.ttf) format('truetype');
 }
 @font-face{
 	font-family:'GEFLOW';
 	src:url(../fonts/geflow/GE_FLOW_BOLD.eot);
 	src:url(../fonts/geflow/GE_FLOW_BOLD.eot?#iefix) format("embedded-opentype"),
 	url(../fonts/geflow/GE_FLOW_BOLD.woff) format("woff"),url(font/GE_FLOW_BOLD.ttf) format("truetype"),
 	url(../fonts/geflow/GE_FLOW_BOLD.svg#GE_FLOW_BOLD) format("svg");
 	font-weight:400!important;
 	font-style:normal
 }


 /*Regular*/
 @font-face {
 	font-family: 'STV Regular';
 	src: url('../fonts/stv_font/Regular/STV Regular.eot');
 	src: url('../fonts/stv_font/Regular/STV Regular.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Regular/STV Regular.woff2') format('woff2'),
 	url('../fonts/stv_font/Regular/STV.woff') format('woff'),
 	url('../fonts/stv_font/Regular/STV.svg#STV') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }
 /*Bold*/
 @font-face {
 	font-family: 'STV Bold';
 	src: url('../fonts/stv_font/Bold/STV-Bold.eot');
 	src: url('../fonts/stv_font/Bold/STV-Bold.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Bold/STV-Bold.woff2') format('woff2'),
 	url('../fonts/stv_font/Bold/STV-Bold.woff') format('woff'),
 	url('../fonts/stv_font/Bold/STV-Bold.svg#STV') format('svg');
 	font-weight: bold;
 	font-style: normal;
 }
 /*Light*/
 @font-face {
 	font-family: 'STV light';
 	src: url('../fonts/stv_font/Light/STV-Light.eot');
 	src: url('../fonts/stv_font/Light/STV-Light.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/stv_font/Light/STV-Light.woff2') format('woff2'),
 	url('../fonts/stv_font/Light/STV-Light.woff') format('woff'),
 	url('../fonts/stv_font/Light/STV-Light.svg#STV') format('svg');
 	font-weight: 100;
 	font-style: normal;
 }
 h1{font-size: 25px;}h2{font-size: 24px;}h3{font-size: 22px;}
 h4{font-size: 20px;}h5{font-size: 18px;}h6{font-size: 16px;}
 p{font-size: 14px;}
 a{font-size: 14px;text-decoration: none !important;}
 body{
 	color: #000;
 	font-family: 'STV Regular'; 
 	overflow-x: hidden;
 }
 *, *:before, *:after {
 	box-sizing: border-box;
 }

 /* Let's get this party started */
 .flexcroll::-webkit-scrollbar {
 	width: 10px;
 }

 /* Track */
 .flexcroll::-webkit-scrollbar-track {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  /*  -webkit-border-radius: 10px;
  border-radius: 10px;*/
}

/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
   /* -webkit-border-radius: 10px;
   border-radius: 10px;*/
   background: rgba(0,191,255,0.8); 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* start bottom button*/

::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}
::-webkit-scrollbar-track-piece {
	background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb:vertical {
	border-radius:10px ;
	height: 15px;
	/* background-color: #009688;*/
	background-image: linear-gradient(to right top, #f7921e, #f6851d, #f5771e, #f36920, #f05a23);
}
.bottom-button #to-top {
	position: fixed;
	z-index: 1;
	right: .2%;
	bottom: .2%;
	z-index: 799;
	background-color: #f7921e;
/* border-radius: 50%; */}
.bottom-button #to-top i{
	color: #fff;
	font-size: 18px;
}
.bottom-button .btn.btn-lg {
	padding: 5px 5px;
}
.bottom-button .btn-inverse {
	background-color: #222;
	border-color: #080808;
	color: #9d9d9d;
}
.bottom-button .btn {
	border-radius: 0px;
	overflow: hidden;
	border: none;
}

/**********************/
.text-white{
	color: #fff;
}
.background-white{
	background-color: #fff;
}
.no-padding{
	padding: 0;
}
.padding-4{
	padding-left: 2px;
	padding-right: 2px;
}
.ptop-5{
	padding-top: 5px;
}
.ptop-10{
	padding-top: 10px;
}
.ptop-20{
	padding-top: 20px;
}
.ptop-30{
	padding-top: 30px;
}
.ptop-40{
	padding-top: 40px;
}
.ptop-50{
	padding-top: 50px;
}
.pbottom-5{
	padding-bottom: 5px;
}
.pbottom-10{
	padding-bottom: 10px;
}
.pbottom-20{
	padding-bottom: 20px;
}
.pbottom-30{
	padding-bottom: 30px;
}
.pbottom-40{
	padding-bottom: 40px;
}
.pbottom-50{
	padding-bottom: 50px;
}
.pleft-5{
	padding-left: 5px;
}
.pleft-10{
	padding-left: 10px;
}
.pleft-20{
	padding-left: 20px;
}
.pright-5{
	padding-right: 5px;
}
.pright-10{
	padding-right: 10px;
}
.pright-20{
	padding-right: 20px;
}


.mtop-5{
	margin-top: 5px;
}
.mtop-10{
	margin-top: 10px;
}
.mtop-20{
	margin-top: 20px;
}
.mtop-30{
	margin-top: 30px;
}
.mtop-40{
	margin-top: 40px;
}
.mtop-50{
	margin-top: 50px;
}
.mbottom-5{
	margin-bottom: 5px;
}
.mbottom-10{
	margin-bottom: 10px;
}
.mbottom-20{
	margin-bottom: 20px;
}
.mbottom-30{
	margin-bottom: 30px;
}
.mbottom-40{
	margin-bottom: 40px;
}
.mbottom-50{
	margin-bottom: 50px;
}
.mleft-5{
	margin-left: 5px;
}
.mleft-10{
	margin-left: 10px;
}
.mleft-20{
	margin-left: 20px;
}
.mright-5{
	margin-right: 5px;
}
.mright-10{
	margin-right: 10px;
}
.mright-20{
	margin-right: 20px;
}
img{
	max-width: 100%;
}
.btn-warning {
	color: #fff;
	background-color: #f7921e;
	border-color: #f7921e;
}
.btn-danger {
	color: #fff;
	background-color: #e20800;
	border-color: #b30600;
}
.btn-success {
	color: #fff;
	background-color: #009600;
	border-color: #007d00;
}
/**********************/
/* start top navbar*/

.top-bar{
	height: 36px;
	/*background: #383838;*/
	background: #f7921e;
}
.top-bar .top-link{
	margin-bottom: 0;
}
.top-bar .top-link a {
	color: #fff;
	padding: 0px 10px 0px 10px !important;
	text-indent: inherit;
	font-size: 13px;
	line-height: 34px;
	background: transparent;
}
.top-bar .top-link .dropdown-menu li a{
	color: #f05a23;
}
.top-bar .top-link a i{
	position: relative;
}
.top-bar .top-link a:hover i{
	-webkit-animation: toBottomFromTop 0.3s forwards;
	-moz-animation: toBottomFromTop 0.3s forwards;
	animation: toBottomFromTop 0.3s forwards;
}
.top-link .login{
	background-color: #f05a23;
}
.top-link .login a{
	color: #fff;
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

/******************/
/*middle header*/
.middle-bar {
	padding: 12px 0 12px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.select_category {
	/*width: 151px;*/

	position: relative;
	display: table-cell;
	vertical-align: top;
	border: 1px solid #e5e5e5;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	background: white;
}

.autosearch-input {
	height: 45px;

	line-height: 20px;
	padding: 0 10px;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	margin-top: 1px;
	display: table-cell;
	border-radius: 0;
}
.button-search {
	height: 45px;
	width: 45px;
	line-height: 34px;
	background: #f05a23;
	border: 1px solid #f05a23;
	position: relative;
	margin-left: -1px;
	z-index: 5;
	padding: 0;
	border-radius: 0;
	color: #fff;
	border: none;
}
.select_category select{
	border: 0;
	height: 43px;
}
.button-search:hover,
.button-search:focus{
	background-color: #666;
	color: #fff;
}

.button-search:hover i {
	-webkit-animation: toBottomFromTop 0.3s forwards;
	-moz-animation: toBottomFromTop 0.3s forwards;
	animation: toBottomFromTop 0.3s forwards;
}

.navbar-phone {
	padding-right: 5px;
}
.navbar-phone .phone-header {
	/* background: url(../img/icon/phone-icon-3.png) no-repeat right center;*/
	margin-top: 0;
	color: #666;
	text-transform: uppercase;
	padding-right: 37px;
	padding-left: 0px;
}
.navbar-phone .phone-header h3 {
	font-size: 100%;
	position: relative;
	top: 0;
	margin-bottom: 5px;
	font-weight: bold;
	color: #222;
	padding-left: 5px;
	margin-top: 0;
}
.navbar-phone  .phone-header p {
	font-size: 100%;
	margin: 0;
	padding-left: 5px;
}
.navbar-phone img{
	float: right;
}


.shopping_cart {
	    margin-top: 8px;
}
.shopping_cart .shopcart{
	cursor: pointer;
}
.affix .shopping_cart  .handle{
    background-color: #f7921e !important;
    border: 2px solid #fff;
}
.affix .shopping_cart  .shopcart .text-shopping-cart{
	color: #fff;
}
.shopping_cart  .handle {
	margin-left: 0;
	width: 43px;
	height: 43px;
	margin: 0px 10px;
	background-color: #f05a23 !important;
	float: right;
	text-align: center;
	border-radius: 50%;

}
.shopping_cart  .handle img{
	margin-top: 14px;
}
.shopping_cart  .shopcart .title {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #222;
	position: relative;
	top: 2px;
}
.shopping_cart  .shopcart .text-shopping-cart {
	float: right;
	color: #666;
	margin-bottom: 0;
	width: 65%;
	font-size: 13px;
}
header .open > .dropdown-menu {
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
}
.show-on-hover:hover  .dropdown-menu  {
	display: block;    
}
.btn-shopping-cart .dropdown-menu {
	border: none;
	border-radius: 0;
}
.btn-shopping-cart .dropdown-menu {
	min-width: 350px;
	padding: 15px !important;
	border-top: 3px solid #f7921e;
}
.shopping_cart .shoppingcart-box {
	margin-top: 7px !important;
}
.shopping_cart .shoppingcart-box .content-item {
	max-height: 450px;
	overflow: auto;
}
.shopping_cart .shoppingcart-box .table-striped > tbody > tr:nth-of-type(odd) {
	background: #fff;
}
.shopping_cart .table > tbody > tr {
	margin: 10px 0;
}
.shopping_cart .table > tbody > tr:first-child > td {
	border-top: 0;
	width: 35px;
}
.btn-shopping-cart .table > tbody > tr > td {
	border: none;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
	padding: 3px 3px;
	text-align: center;
}
.btn-shopping-cart .table > tbody > tr > td .plus-item,
.btn-shopping-cart .table > tbody > tr > td .subtract-item
{
	padding: 2px;
	line-height: 13px;
}
.delete-color {
	background-color: #ea625c;
	color: #fff;
	line-height: 13px;
	padding: 2px;
}
.btn-shopping-cart .table > tbody > tr > td  input[type=number]::-webkit-inner-spin-button, 
.btn-shopping-cart .table > tbody > tr > td  input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

.shopping_cart .shoppingcart-box .table-striped a.fa-delete {
	width: 20px;
	height: 20px;
	background: #d6d6d6;
	border-radius: 3px;
	text-align: center;
	line-height: 20px;
	color: #000;
	font-weight: bold;
}

.typeheader-8 .btn-shopping-cart .dropdown-menu:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 3px;
	position: absolute;
	top: 0;
	z-index: 1;
	background: #3ac4ff;
	right: 0;
	left: 0;
}
.btn-shopping-cart .dropdown-menu:after {
	border-color: transparent transparent #f7921e transparent;
	border-width: 10px;
	top: -21px;
}
.shopping_cart .shoppingcart-box .checkout a:first-child {
	margin-right: 10px;
}
.shopping_cart .shoppingcart-box a.btn {
	padding: 6px 5px 6px 5px;
	border-radius: 0;
	color: #fff;
	background: #444;
	border-color: #444;
}
.shopping_cart .shoppingcart-box a.btn-clear{
	padding: 6px 5px 6px 5px;
	background-color: #f7921e;
}
/*********************/
/* middle navbar*/
.bottom-header {
	/* background-color: #4a5678;*/
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: 4px 4px 4px #ddd;
	-moz-box-shadow: 4px 4px 4px #ddd;
	box-shadow: 4px 4px 4px #ddd;
	background: #fff;
}
.sidetitle{
	height: 60px;
	background-color: #520100;
	color: #fbfbfb;
	text-align: center;
	border-bottom: 3px solid #f7921e;
}
.sidetitle h5 {
	margin: 0;
	line-height: 60px;

}
.affix {
	top: 0;
	right: 0;
	z-index: 999;
	width: 100%; 
	padding: 0px !important;
	margin-top: 0px !important;
	background-color: #f7921e !important;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;

}
.affix:before, .affix:after
{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.affix:after
{
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
.affix .navbar-nav>li>a i{
	color: #fff !important;
}
.navbar-default.affix .navbar-nav>li>a{
	color: #fff;
}
.navbar-default {
	background-color: transparent;
	border-color: #e7e7e7;
	background-image: none;
	border: 0;
	box-shadow: none;
	margin-bottom: 0;
	height: 60px;
}
.navbar-default .navbar-nav>li>a {
	color: #4a5678;
	line-height: 30px;
	font-size: 16px;

}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	margin-top: 8px;
	color: #fff;
	background-color: #f05a23;
	background-image: none;
	/* box-shadow: none; */
	padding: 6px 16px;
	border-radius: 6px;
	box-shadow: 2px 2px 6px #555;
}
.navbar-default .navbar-nav>.active>a i{
	color: #fff;
}
.navbar-default .navbar-nav>li>a i{
	color: #f7921e;	
}
@media (min-width: 992px){
	.col-md20{
		width: 20%;
	}
}
.dropdown-large {
	position: static !important;
}
.dropdown-menu-large {
	margin-left: 16px;
	margin-right: 16px;
	padding: 20px 0px;
	width: 97%;
}
.dropdown-menu-large > li > ul {
	padding: 0;
	margin: 0;
}
.dropdown-menu-large > li > ul > li {
	list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight:300;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	/*	background-color: #f5f5f5; */
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
	color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
	color: #428bca;
	font-size: 18px;
}
@media (max-width: 768px) {
	.dropdown-menu-large {
		margin-left: 0 ;
		margin-right: 0 ;
	}
	.dropdown-menu-large > li {
		margin-bottom: 30px;
	}
	.dropdown-menu-large > li:last-child {
		margin-bottom: 0;
	}
	.dropdown-menu-large .dropdown-header {
		padding: 3px 15px !important;
		font-size: 12px;
	}
	.dropdown-menu-large > li > ul > li > a {
		padding: 3px 0px;
		height: 100px;
	}
	ul.main-categories li img {
		width: 100% !important;
		height: 70px !important;
	}
	ul.brands a{
		height: auto !important;
	} 
}


.searchforma .dropdown.dropdown-lg .dropdown-menu {
	margin-top: -1px;
	padding: 15px 20px;
}
.searchforma .input-group-btn .btn-group {
	display: flex !important;
}
.searchforma .btn-group .btn {
	border-radius: 0;
	margin-left: -1px;
	height: 48px;
	width: 48px;
}
.searchforma .input-group input{
	height: 48px;
}
.searchforma .btn-group .btn:last-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.searchforma .btn-group .form-horizontal .btn[type="submit"] {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.searchforma .form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
.searchforma .form-group .form-control:last-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
	.searchforma   #adv-search {
		width: 100%;
		margin: 0 auto;
	}
	.searchforma  .dropdown.dropdown-lg {
		position: static !important;
	}
	.searchforma    .dropdown.dropdown-lg .dropdown-menu {
		/* min-width: 500px;*/
		min-width: 300px;
	}
}
.searchforma .btn-warning{
	background-color: #f7921e;
	border-color: #f7921e;
}
.searchforma .btn-warning:hover{
	background-color: #f05a23;
}
.searchforma .btn-group .btn-scuctom {
	border-radius: 0;
	margin-left: -1px;
	height: 40px;
	width: 150px;
	font-size: 18px;
}

.effect-shadow{
	position: relative;
}
.effect-shadow:before, .effect-shadow:after
{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.effect-shadow:after
{
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

/***************************/
/* main category */

/* PEN STYLES ========== */
.side_menu {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.side_menu .menu_title{
	color: #fff;
}
/* MENU CONTAINER ----- */
.side_menu {
	background: rgba(0,20,60,.9);
	height: 100vh;
	right: -250px;
	position: absolute;
	top: 0;
	width: 250px;
	z-index: 99
}
.open_side_menu{
	right: 0;
}
.side_menu .container {
	padding: 0 1em;
}

/* HAMBURGER STYLES ----- */
.burger_box {
	display: block;
	float: left;
	margin-right: 45px;
	position: absolute;
	left: 45px;

}
.burger_box a.menu-icon {
	display: inline-block;
	float: none;
	height: 25px;
	padding: 10px;
	opacity: .5;
	width: 25px;
	z-index: 100;
}
.burger_box a.menu-icon:hover,
.burger_box a.menu-icon.opened {
	opacity: 1;
}
.burger_box a.menu-icon.opened {
	/*background: rgba(0,20,60,.9);*/
}
.burger_box .menu-icon_box {
	display: inline-block;
	height: 25px;
	position: relative;
	text-align: left;
	width: 25px;
}
.burger_box .menu-icon_line {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 3px;
	position: absolute;
	width: 100%;
}
.burger_box .menu-icon_line--1 {
	top: 2px;
}
.burger_box .menu-icon_line--2 {
	top: 10px;
}
.burger_box .menu-icon_line--3 {
	top: 18px;
}
.burger_box .menu-icon_line--1 {
	transition: top 200ms 250ms, transform 200ms;
	-webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
}
.burger_box .menu-icon_line--2 {
	transition: opacity 0ms 300ms;
	-webkit-transition: opacity 0ms 300ms;
}
.burger_box .menu-icon_line--3 {
	transition: top 100ms 300ms, transform 200ms;
	-webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
}
.burger_box .menu-icon.opened .menu-icon_box {
	transform: scale3d(0.9, 0.9, 0.9);
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
}
.burger_box .menu-icon.opened .menu-icon_line {
	top: 10px;
}
.burger_box .menu-icon.opened .menu-icon_line--1 {
	transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transition: top 100ms, transform 200ms 250ms;
	-webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
}
.burger_box .menu-icon.opened .menu-icon_line--2 {
	opacity: 0;
	transition: opacity 200ms;
	-webkit-transition: opacity 200ms;
}
.burger_box .menu-icon.opened .menu-icon_line--3 {
	transform: rotate3d(0, 0, 1, -45deg);
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transition: top 200ms, transform 200ms 250ms;
	-webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
}

/* STAGGER LIST ----- */
.side_menu .list_load {
	display: none;
	list-style: none;
	padding: 0;
}
.side_menu .list_item {
	margin-left: -20px;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.side_menu .list_item a {
	color: #fff;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}
.side_menu .list_item a:hover {
	background: rgba(255,255,255,.2);
}
.nav-side-menu {
	overflow: auto;
	font-size: 12px;
	font-weight: 200;
	background-color: #2e353d;
	position: fixed;
	top: 0px;
	width: 250px;
	height: 100%;
	color: #e1ffff;
}
.nav-side-menu .brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 20px;
}
.nav-side-menu .toggle-btn {
	display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;

}
.nav-side-menu ul :(collapsed) .arrow:before,
.nav-side-menu li  :(collapsed) .arrow:before {
	font-family: FontAwesome;
	content: "\f077";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: left;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: left;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li {
	padding-right: 20px;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
	color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
	color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
	font-size: 16px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
	background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
	font-family: FontAwesome;
	content: "\f104";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: left;
}
.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
	text-decoration: none;
	color: #e1ffff;
	font-size: 16px;
}
.nav-side-menu li a i {
	padding-right: 10px;
	width: 20px;
	padding-left: 0;
	margin-left: 15px;
}
.nav-side-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
@media (max-width: 767px) {
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		background-color: #ffffff;
		color: #000;
		width: 40px;
		text-align: center;
	}
	.brand {
		text-align: left !important;
		font-size: 22px;
		padding-left: 20px;
		line-height: 50px !important;
	}
}
@media (min-width: 767px) {
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
}

.accordion-toggle:after {
	font-family: 'FontAwesome';
	content: "\f078";    
	float: right;
}
.accordion-opened .accordion-toggle:after {    
	content: "\f054";    
}
.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(250,250,250,.8);
	z-index: 17;
}
/*************************************/
/* main slider */

#main-banner  {
	margin-top: 20px;
}

#main-banner .carousel-inner{
	/*height: 375px;*/
	width: 100%;
}
#main-banner .carousel-inner .item img{
	height: 390px;
	width: 100%;
}

#main-banner .carousel-inner .item{
	border: 1px solid #eee
}
#main-banner .carousel-caption{
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f7921e;
	padding: 10px 5px;
	text-align: right;
	z-index: 0
}
#main-banner .carousel-caption a{
	color: #fff;
}
#main-banner .carousel-indicators {
	position: absolute;
	left: 20px;
	right: auto; 
	bottom: 10px;
	width: auto;
	margin-right: 0;
	text-align: left;
	bottom: 45px;
}

#main-banner .carousel-indicators li{
	border: 1px solid #f7921e;
	border-radius: 0;
	display: block;
	background-color: #fff;
	width: 14px;
	height: 14px;
}
#main-banner .carousel-indicators .active{
	background-color: #f7921e;
	width: 16px;
	height: 16px;
}
#main-banner .carousel-control{
	width: 30px;

}
@media screen and (min-width: 768px){
	#main-banner .carousel-control .glyphicon-chevron-left, 
	#main-banner .carousel-control .glyphicon-chevron-right, 
	#main-banner .carousel-control .icon-prev, .carousel-control .icon-next {
		width: 30px;
		height: 35px;
		margin-top: -16px;
		font-size: 25px;
		background-color: #eee;
		line-height: 35px;
	}
}

ul.main-categories li img{
	width: 100%;
	height: 150px;
	max-width: 150px;
	display: block;
	margin: auto;
	border: 1px solid #eee;
	padding: 3px;
	box-shadow: 2px 2px 4px;
	border-radius:50%;
	margin-bottom: 12px;
}
ul.main-categories li{
	margin-bottom: 10px;
}
ul.brands li a{
	display: inline-block !important;
}
ul.brands li img{
	width: 80px; 
	border:1px solid #eee;
	box-shadow: 2px 2px 8px #999;
}
.gray-background{
	background-color: #f5f5f5;
}
/**********************/
/* side bar */
.sidebar{

	border: 1px solid #ccc;
	box-shadow: 2px 2px 8px;
	/*   overflow-y: scroll;*/
	background-color: #fff;
}
.sidebar-index{
	position: relative;
	height: 465px;
}
.sidebar-page {
	position: absolute;
	right: 15px;
	height: 465px;
	width: 285px;
	z-index: 9;
	
}
#grabPromo{
	cursor: pointer;
}
.slideDown {
	display: none; 
}
.inner-sidebar{
	/* overflow-y: scroll;*/
}
.side-pad {
	padding-right: 0;
	padding-left: 22px;
}

.sidebar ul {
	margin: 0px;
	padding: 0px;
}
.ace-responsive-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	/*   background: #333;  */
	float:right;
	width:100%;
	/* border-bottom: 3px solid #f7921e;  
	border: 1px solid #ccc;
	box-shadow: 2px 2px 8px;  */   
}
.ace-responsive-menu li{
	list-style: none;
}
.ace-responsive-menu li ul {
	display:none;
}
.ace-responsive-menu > li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
	float: right;
}
.ace-responsive-menu li a {
	color:#fff;

}
.ace-responsive-menu > li > a {
	display: block;
	position: relative;
	margin: 0;
	border: 0px;
	padding: 10px 0px 10px 5px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	color: #5d5d5d;
}
.ace-responsive-menu li a i {
	padding-right: 5px;
	color: #f7921e;
}
.ace-responsive-menu > li > a i {
	font-size: 16px;
	text-shadow: none;
	color: #f7921e;
}
.ace-responsive-menu li ul.sub-menu li a i {
	padding-right: 0px;
	padding-left: 2px;
}
.ace-responsive-menu li.menu-active > a {
	background: #272727 !important;
	color:#fff;
}
.ace-responsive-menu li .menu-active {
	position: relative;
}
.ace-responsive-menu > li > a > .arrow:before {  
	margin-left: 0px;
	display: inline;
	font-size: 16px;
	font-family: FontAwesome;
	height: auto;
	content: "\f107";
	font-weight: 300;
	text-shadow: none;
	width: 10px;
	display: inline-block;
}
.ace-responsive-menu li ul.sub-menu li > a > .arrow:before {
	content: "\f104" ;
}
.ace-responsive-menu > li > ul.sub-menu {
	display: none;
	list-style: none;
	clear: both;
	margin: 0;
	position: absolute;
}
.ace-responsive-menu li ul.sub-menu {
	background: #333;
}
.ace-responsive-menu li ul.sub-menu > li {
	width: 185px;
}
.ace-responsive-menu li ul.sub-menu li a {
	display: block;
	margin: 0px 0px;
	padding: 12px 8px 12px 8px;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	background: none;
}
.ace-responsive-menu > li > ul.sub-menu > li {
	position: relative;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
	position: absolute;
	left: 185px;
	top: 0px;
	display: none;
	list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: absolute;
	left: 185px;
	top: 0px;
	display: none;
	list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before {
	margin-top: 1px;
	margin-right: 0px;
	display: inline;
	font-size: 16px;
	font-family: FontAwesome;
	height: auto;
	float: left;
	content: "\f104";
	font-weight: 300;
	text-shadow: none;
}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {
	display: none;
	float: left;
	width: 100%;
	background: #333;
}
.menu-toggle h3 {
	float: left;
	color: #FFF;
	padding: 0px 10px;
	font-weight: 600;
	font-size: 16px;
}
.menu-toggle .icon-bar {
	display: block !important;
	width: 18px;
	height: 2px;
	background-color: #F5F5F5 !important;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	margin: 3px;
}
.menu-toggle .icon-bar:hover {
	background-color: #F5F5F5 !important;
}
.menu-toggle #menu-btn {
	float: right;
	background: #202020;
	border: 1px solid #0C0C0C;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}
.hide-menu {
	display: none;
}


/* Accordion Menu Styles
----------------------------------------*/

ul[data-menu-style="accordion"] {
	width: 250px;
}
ul[data-menu-style="accordion"] > li {    
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
	float: none !important;
}
ul[data-menu-style="accordion"] > li:first-child {
	border-top: 2px solid #FD5025;
}
ul[data-menu-style="accordion"] li ul.sub-menu > li {
	width: 100%;
}
ul[data-menu-style="accordion"] > li > a > .arrow:before {
	float: right;
	content: "\f105";
}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {
	content: "\f107" !important;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li > a i {
	padding-right: 10px;
	color: #f7921e;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: static;
}
ul[data-menu-style="accordion"] > li {
	border-bottom: 1px solid #242424;
}
ul[data-menu-style="accordion"] li a:hover {
	background: #272727 !important;
}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {
	content: "\f107" !important;
}

/* Vertical Menu Styles
----------------------------------------*/

ul[data-menu-style="vertical"] {
	width: 100%;

}
ul[data-menu-style="vertical"] > li {
	float: none;
}
ul[data-menu-style="vertical"] > li:first-child {
	/*border-top: 2px solid #FD5025;*/
}
ul[data-menu-style="vertical"] li ul.sub-menu > li {
	width: 100%;
}
ul[data-menu-style="vertical"] > li > a > .arrow:before {
	float: left;
	content: "\f104";
}
ul[data-menu-style="vertical"] > li.menu-active {
	position:relative;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu {
	position: absolute;
	right: 100%;
	top: 0px;
	width: 250px;
	z-index: 12;
}
ul[data-menu-style="vertical"] > li > a i {
	padding-right: 10px;
	color: #f7921e;
}
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {
	position: absolute;
	width:250px;
	right:  100%;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
	position: absolute;
	width:250px;
	right:  100%;
}
ul[data-menu-style="vertical"] > li {
	border-bottom: 1px solid #ccc;
}
ul[data-menu-style="vertical"] li a:hover {
	background: #272727 !important;
}

/* Responsive Menu Styles
----------------------------------------*/
/*Note: change the max-width asper your requirment and change the same in 
aceResponsiveMenu({resizeWidth: "768" }) function*/

@media screen and (max-width: 768px) {
	.demo {
		width:96%;
		padding:2%;
	}
	ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],
	ul[data-menu-style="vertical"] li ul.sub-menu {
		width: 100% !important;
	} 
	.ace-responsive-menu {
		float: left;
		width:100%;
	}
	.ace-responsive-menu > li {
		border-bottom: 1px solid #242424;
		float: none;
	}   
	.ace-responsive-menu li a:hover {
		background: #272727 !important;
		color: #eee;
	}
	.ace-responsive-menu > li:first-child {
		border-top: 2px solid #FD5025;
	}    
	.ace-responsive-menu > li > a i {
		padding-right: 10px;
		color: #f7921e;
	}
	.ace-responsive-menu > li > a > .arrow:before {
		float: left;
		content: "\f104";
	}
	li.menu-active > a > .arrow:before {
		content: "\f107" !important;
	}
	.ace-responsive-menu li ul.sub-menu > li {
		width: 100%;
	}
	.ace-responsive-menu li ul.sub-menu li ul.sub-menu li a
	{
		padding-left: 30px;
	}  
	.ace-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a 
	{
		padding-left: 50px;
	}  
	.ace-responsive-menu > li > ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
		position: static;
	}
	.ace-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {
		content: "\f107" !important;
	}
}


/**********************/
/* steps */
.steps{
	margin-top:25px; 
}
.steps-border{
	border: 1px solid #eee;
	display: inline-block;
}
.step-item {
	padding: 20px 0;
	display: inline-block;
	width: 100%;
	border-left: 1px solid #eee;
}

.step-item i {
	width: 60px;
	height: 60px;
	float: right;
	font-size: 55px;
	color: #444444;
	text-align: center;
	line-height: 60px;
}
.step-item-det {
	margin-right: 60px;
	color: #444444;
}
.step-item-det h6 {
	line-height: 27px;
	text-align: center;
}
.pad-left-0{
	padding-left: 0
}
/**********************/
/* latest products */
.latest-products{
	padding: 15px 0px 10px;
}
.main-title  {
	color: #f05a23;
	position: relative;
	display: inline-block;
}
.main-title:after  {
	content: "";
	width: 80px;
	height: 2px;
	border-top: 4px;
	position: absolute;
	bottom: -4px;
	right: 4px;
	background-color: #f7921e;
}
.owl-products{
	direction:ltr !important ;
}
.owl-products .carousel-control{
	width: 30px;
	height: 30px; 
	border-radius: 0;
	top: -30px;
}
.owl-products .carousel-control .glyphicon-chevron-left, 
.owl-products .carousel-control .glyphicon-chevron-right, 
.owl-products .carousel-control .icon-prev, 
.owl-products .carousel-control .icon-next {
	width: 30px;
	height: 30px;
	margin-top: -10px;
	font-size: 20px;
}
.owl-products .carousel-control.right {
	right: auto;
	left: 40px;
}
.owl-products .carousel-indicators {
	bottom: -15px;
}
.owl-theme .owl-controls .owl-page {
	margin-right:4px; 
}
.owl-theme .owl-controls .owl-page span{
	margin: 0
}
.owl-products .product-item{
	margin: 10px;
	background-color: #fff;
	box-shadow: 2px 2px 8px #999;
}
/***********/
/* list product*/
.products-items .listsys{
	width: 100% !important;
	margin-bottom: 20px;
}
.listsys .product-item {
	display: inline-block;
	width: 100%;
	box-shadow: 2px 2px 8px #999;
}

.listsys .product-item .box-image {

	width: 30%;
	float: right;
	border-left: 1px solid #eee;
}
.listsys .product-item img {
	width: 250px;
	height: 250px;
}
.listsys .product-item-details{
	width: 70%;
	float: right;
	text-align: right;
	padding-right: 10px;
}
.mtgr {
	/*position: absolute;
	bottom: 0;*/
	background-color: #f7921e;
	padding: 0 7px;
	width: 100%;
}
.mtgr img{
	width: 60px !important;
	height: 50px !important;
	padding: 3px;
	margin-left: 5px;
}
.mtgr a{
	font-size: 16px;
	color: #fff;
}

/**************/
/*************/

.latest-owl-products .product-item{
	background-color: #fff;
	box-shadow: 2px 2px 8px #999;
	margin-bottom: 10px;
}
.product-item
{
	
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #eee;
	direction: rtl;
}
.all-products .products-items .product-item {
	margin: 0;
}
.product-item:hover{
	box-shadow: 2px 2px 8px #000;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.product-item .box-image {
	position: relative;
	max-height: 270px;
}
.product-item .box-image img{
	width: 250px;
	height: 250px;
	margin: auto;

	padding: 2px;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.box-image .quickview {
	top: 20%;
	opacity: 0;

	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	line-height: 30px;
	font-weight: normal;
	width: 115px;
	height: 35px;
	border: 1px solid #f7921e;
	background-color: #f7921e;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	font-size: 15px;
	position: absolute;
	left: 50%;
	top: 0%;
	margin-left: -50px;
	margin-top: -15px;
	z-index: 88;
	color: #fff;
	opacity: 0;
}
.product-item:hover  .quickview {
	top: 46%;
	opacity: 1;
	z-index: 99;
}

.box-image .box-label {
	top: 15px;
	left: 15px;
	position: absolute;
	z-index: 9;
}
.box-label .label-product {
	line-height: 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	display: block;
	margin-bottom: 5px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	background: #00c144;
	min-width: inherit;
	padding: 3px 13px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	z-index: 20;
	font-weight: 700;
}
.box-label .label-product:before {
	position: absolute;
	bottom: -4px;
	right: 10px;
	left: inherit;
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 4px solid #00c144;
	border-left: 6px solid transparent;
}
.box-info h5 a{
	font-weight: bold;
	color: #444;
	font-size: 16px;
}

.rating, .ratings {
	font-size: 13px;
	margin-bottom: 5px;
}
.rating .yellow{
	color: #eab800 !important;
}
span.fa-stack {
	width: 14px;
	height: 14px;
	line-height: 14px;
}
span.fa-stack .fa-stack-2x {
	font-size: 1em;
	color: #ddd;
}
.rating span.fa-stack .fa-star-o:before, 
.ratings span.fa-stack .fa-star-o:before {
	content: "\f005";
	color: #ddd;
}
.rating span.fa-stack .fa-star-o.yellow:before, 
.ratings span.fa-stack .fa-star-o.yellow:before {
	content: "\f005";
	color: #eab800;
}

.price {
	margin: 0 0 15px;
}
.price .price-new {
	margin-right: 10px;
}
.price .price-new, .price span.price {
	color: #e74c3c;
	font-size: 133.33%;
	vertical-align: top;
}
.price .price-old {
	font-size: 100%;
	color: #999;
	text-decoration: line-through;
	display: inline-block;
	color: #9a9a9a;
}
.button-group {
	margin: 0;
	overflow: hidden;
}
.button-group .addToCart {
	margin-bottom: 10px;
	background: none;
	margin-right: 5px;
	display: inline-block;
	border: 1px solid #ddd;
	height: 30px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1px 15px 1px 8px;
	color: #666;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.button-group .wishlist, .button-group .compare {
	margin-bottom: 10px;
	width: 30px;
	background: none;
	margin-right: 5px;
	display: inline-block;
	border: 1px solid #ddd !important;
	height: 30px;
	line-height: 28px;
	text-align: center;
	padding: 0 6px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #666;
}
.favourite{
	background-color: #f7921e !important;
	color: #fff !important ;
}
.button-group .btn-button:hover{
	background-color: #008811;
	color: #fff;
}

.product-item:hover .addToCart{
	background-color: #f7921e;
	color: #fff;
}
.latest-owl-products .loadMore{
	min-width: 150px;
	font-size: 18px;
}
.btn-animated{
	position: relative;
	display: inline-block;
}
.btn-animated:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f05a23 ;
	transform: scaleX(0);
	transform-origin: 0 50%;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	z-index: -1;
}
.btn-animated:hover {
	color: #fff;
	background-color: transparent;
}
.btn-animated:hover:before {
	transform: scaleX(1);
	transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}
/*****************************************/
/* logos */
#owl-demo3 .item{
	margin: 10px;
	text-align: center;


}
#owl-demo3 .item img{
	max-width: 100%;
	height: 170px;
	width: 170px;
	border-radius: 50%;
	border: 1px solid #f7921e;
	background-color: #fff;
	box-shadow: 0px 2px 0px 2px #f7921e;
	margin: auto;
	padding: 5px;
}
#owl-demo3 .item:hover img{
	transform: scale(0.9,0.9);
}
#owl-demo3 {
	direction:ltr !important ;
	margin-top: 20px;
}
#owl-demo3 .owl-controls .owl-page {
	display: none;
}
/******************************/
/* footer */

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* footer */
footer ul>li,footer ol>li {
	margin-bottom: 7px;
}
.footer-top {
	background-color: #2f2f2f;
}
.contact-col .footer-block {
	/*background-color: #eceef4;
	padding:1px 40px 30px 40px;*/
}
.contact-col img{
	width: 150px;
	margin-top: 20px;
	margin-bottom: 10px; 
}
.footer-block .footer-block-title {
	margin-bottom: 15px;
}
.footer-block .footer-block-title h3 {
	font-weight: 700;
	font-size: 18px;
	color: #f7921e;
	text-transform: uppercase;
}
.footer-block .footer-block-content .links-contact li {
	position: relative;
	min-height: 30px;
	line-height: 18px;
}
.footer-block-content .links-contact li i{
	float: right;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: #f7921e;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.footer-block-content .links-contact li p{
	margin-right: 35px;
	line-height: 28px;
	color: #fff;
}

.footer-block .footer-block-content .links-contact li{
	margin: 6px 0 6px;

}
.footer-block .footer-block-content .links-footer li a {
	display: inline-block;
	padding: 2px 0;
	font-size: 16px;
	color: #fff;
}
.footer-block .footer-block-content .links-footer li a:hover{
	color: #f7921e;
}
.copy-right{
	padding: 12px 0px;
	background-color: #f7921e;
}
.copy-right p{
	margin-bottom: 0;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.copy-right p a{
	color: #fff;

}
.footer-social{


}
.btn-social-icon {
	position: relative;
	padding-left: 44px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 34px;
	width: 34px;
	padding: 0;
}
.btn-linkedin {
	color: #fff;
	background-color: #007bb6;
	border-color: rgba(0,0,0,0.2);
}
.btn-instagram {
	color: #fff;
	background-color: #3f729b;
	border-color: rgba(0,0,0,0.2);
}
.btn-google-plus {
	color: #fff;
	background-color: #dd4b39;
	border-color: rgba(0,0,0,0.2);
}
.btn-twitter {
	color: #fff;
	background-color: #55acee;
	border-color: rgba(0,0,0,0.2);
}
.btn-facebook {
	color: #fff;
	background-color: #3b5998;
	border-color: rgba(0,0,0,0.2);
}
.btn-social-icon :first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-social-icon :first-child {
	border: none;
	text-align: center;
	width: 100% !important;
}


/*********************************/
/* products page */
.all-products{
	margin-bottom: 20px;
}
.mtop-490{
	margin-top: 490px;
}
.search-filter-bar{
	-webkit-transition: 0.3s all ease-in;
	-moz-transition: 0.3s all ease-in;
	-o-transition: 0.3s all ease-in;
	transition: 0.3s all ease-in;
	padding-left: 15px;

}
.search-filter-bar hr {
	margin-top: 5px;
	margin-bottom: 10px;
}
.search-filter-bar h5{
	margin-bottom: 0;
	color: #f7921e;

}
.filters-panel {
	padding: 10px 0;
	margin-bottom: 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.filters-panel .list-view {
	width: 72px;
}
.filters-panel .short-by {
	margin-right: 20px;
}
.filters-panel label {
	font-size: 12px;
	font-weight: normal;
}
.filters-panel .form-control, 
.filters-panel .btn {
	height: 28px;
	padding: 3px 7px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
}
.filters-panel .btn{
	font-weight: 500;
	font-size: 18px;
}
.filters-panel .btn.active{
	background-color: #f7921e;
	background-color: #f7921e;
	color: #fff;

}

/* siderbar filter products */
.funkyradio div {
	clear: both;
	overflow: hidden;
}

.funkyradio label {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
	font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
	display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
	position: relative;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	/*border-radius: 3px 0 0 3px;*/
	border-radius: 0;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
	color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
	color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #333;
	background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
	color: #333;
	background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #5bc0de;
}

/* price slider */
.ui-widget.ui-widget-content {
	margin-top: 15px;
	display: inline-block;
	width: 100%;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: #f7921e;
	color: #333333;
	font-weight: bold;
}
.price-filter .sliderValue{
	width: 50%;
	float: right;
}

/***********************/
/* single product */

.header-navigation {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size: .80rem;
}

.header-navigation a {
	font-size: 12px;
}

.header-navigation .breadcrumb {
	margin-bottom: 0;
	background-color: transparent;
	padding: 0.20rem 1rem;
}

.header-navigation .btn-group {
	margin-left: auto;
}

.header-navigation .btn-share {
	position: relative;
}

.header-navigation .btn-share::after {
	content: "";
	width: 1px;
	height: 50%;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
}

.store-body {
/*  display: flex;
flex-direction: row;*/
padding: 0;
}

.store-body .product-info {
  /*width: 60%;
  border-right: 1px solid rgba(0,0,0,.125); */
}

.store-body .product-payment-details {
	/* width: 40%;*/
	padding: 15px 15px 0 15px;
	color: #555;
}
.product-payment-details .product-title{
	color: #f7921e;
}
.product-payment-details .product-price {
	color: #f05a23;
	margin-top: 5px;
}
.product-payment-details .add-btn {
	width: 150px;
	margin-top: 10px;
	font-size: 16px;
}

.product-info .product-gallery {
 /* display: flex;
 flex-direction: row;*/
 border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-gallery-featured {
	/*display: flex;*/
	width: 100%;
  /*flex-direction: row;
  justify-content: center;
  align-items: flex-start;*/
  text-align: center;
  padding: 15px 0;
  cursor: zoom-in;
  border: 1px solid #eee;
}
.product-gallery-featured img{
	width: 100%;
	max-width: 400px;
	max-height: 400px;

}
.product-gallery-thumbnails {
	text-align: center;
	display: flex;
	flex-flow: column;
}
ol.thumbnails-list{
	display: table;
	padding-top: 15px;
}
.product-gallery-thumbnails .thumbnails-list li {
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
	width: 80px;
	height: 80px;
	/* display: table-cell; */
	float: right;
	margin-right: 10px;
	padding-left: 5px;
	border: 1px solid #999;
}

.thumbnails-list li img {
	display: block;
	width: 100%;
	height: 77px;
}

.product-gallery-thumbnails .thumbnails-list li:hover::before {
	content: "";
	width: 3px;
	height: 100%;
	background: #007bff;
	position: absolute;
	top: 0;
	left: 0;
}


.product-payment-details .input-group-addon {
	padding: 0;
	font-size: 14px;
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
.product-payment-details .input-group-addon .btn{
	border-radius: 0
}

/* review and Description */
.producttab .tabsslider {
	margin-bottom: 30px;
	padding: 0;
	margin-top: 20px;
}
.producttab .tabsslider .nav-tabs li {
	margin: 0 -1px 0px 0;
	border: 1px solid #ddd;
	list-style: none;
	cursor: pointer;
	float: right;
	font-size: 133.33%;
	text-transform: uppercase;
	border-bottom: none;
	background-color: #fff;
	color: #444;
	cursor: pointer;
	position: relative;
}
.producttab .tabsslider .nav-tabs li.active:before {
	content: "";
	display: inline-block;
	position: absolute;
	height: 4px;
	left: -1px;
	right: -1px;
	top: -4px;
	z-index: 3;
	background: #f7921e;
}
.producttab .tabsslider .nav-tabs li a {
	font-weight: 700;
	border: none;
	color: #444;
	padding: 10px 30px;
	margin: 0;
	border-radius: 0;
	background: none;
}
.producttab .tabsslider .nav-tabs li.active a {
	color: #fff;
	background: #f7921e;
}
.producttab .tabsslider .tab-content {
	padding: 30px;
	display: block;
	margin: 0;
	border-style: solid;
	margin-top: -1px;
	border-width: 1px;
	border-color: #e6e6e6;
}
.contacts-form textarea,
.contacts-form .form-control,
.contacts-form  select {
	border-radius: 3px;
	background-color: #fff;
	border: none;
	color: #3d3d3d;
	padding: 9px;
	font-size: 12px;
	font-size: 1.2rem;
	box-shadow: none !important;
	transition: all 0.3s ease;
	border: 1px solid #ddd;
}
#tab-review .form-group textarea {
	height: 150px;
}
#tab-review .contacts-form span span.text-danger {
	margin-right: 15px;
	margin-top: 0;
}
.text-danger {
	color: #fff;
	display: inline-block;
	background-color: #a94442;
	padding: 0 5px;
	margin: 5px 0;
	border-radius: 3px;
	font-size: 11px;
}
#tab-review input[type=radio] {
	position: relative;
	top: 2px;
}

.comment-reply{
	padding: 15px;
	border: 1px solid #eee;
	box-shadow: 2px 2px 8px #bfbfbf;
	margin-bottom: 15px;
}
.simple-rating i{
	color: #f5ba00;
	display: inline-block;
	padding: 1px 2px;
	cursor: pointer;
	font-size: 18px;
}

.product-payment-details .simple-rating i{
	font-size: 25px;
}
/********************************/
/*login */
#login-page {
	overflow: hidden;
	background: url(../img/register-background.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.login-wrapper {
	/*padding: 10px;*/
	/*	background: url(../img/curve.png) no-repeat center ;*/
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.background_imglogin{

}
.back-link {
	float: left;
	width: 100%;
	margin: 10px;
	position: absolute;
	top: 0;
	left: 0;
}
.back-link .back-dash {
	float: left;
}
#login-page .btn-add {
	background: #ffffff;
	color: #f7921e !important;
	border: 1px solid #f7921e;
	border-radius: 2px;
}
#login-page .container-center {
	/*margin-top: 10%;*/
	/* margin: 10% auto 0; */
	/* margin: 0% 5% 0;*/
	width: 400px;
}
.forma_box{
	margin: 0% auto 0; 
	/*max-width: 400px; */
}

.login-area {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#login-page .panel {
	box-shadow: none;
	border-radius: 0px;
	border: none;
}
.login-area .panel-body {
	padding: 35px;
}



.panel-custom > .panel-heading {
	color: #fff;
	background-color: #f7921e;
	border-color: #f7921e;
	position: relative;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-radius
}

.view-header {
	margin: 10px 0;
}
.view-header .header-icon {
	font-size: 60px;
	color: #009688;
	width: 68px;
	float: left;
	margin-top: -8px;
	line-height: 0;
}
.view-header .header-title {
	margin-left: 68px;
}
.view-header .header-title h3 {
	margin-bottom: 2px;
}

#login-page .panel .panel-heading h3 {
	margin: 0;
	line-height: 26px;
	letter-spacing: .5px;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
}
#login-page small,#login-page  .small {
	font-size: 85%;
}
#login-page label {
	height: 34px;
	line-height: 25px !important;
	font-size: 13px !important;
	font-weight: 500 !important;
	text-align: right !important;
}
#login-page .form-control {
	display: block;
	width: 95%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#login-page .btn-warning {
/*	background-color: #FFB61E;
border-color: #E1A21E;*/
color: #fff;
}
/*****************************/
/* register */
.register-page {
	margin-bottom: 20px;
	background: url(../img/register-background.jpg);
	background-position: center;
	background-size: 100% 100%;
}
.register-box{
	border: 1px solid #eee;
	box-shadow: 2px 2px 8px ;
	padding: 10px;
	background-color: #fff;
	/*    height: 600px;
	overflow-y: scroll;*/
}
legend {
	color: #f7921e;
	border-bottom: 1px solid #f7921e;
}
.breadcrumb {
	background: none;
	border-radius: 0;
	display: block;
	padding: 0;
	margin-bottom: 20px;
	margin-top: 0px;
	background-color: #fff;
}
.breadcrumb li {
	position: relative;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 24px;
	line-height: 21px;
	margin-left: 3px;
	padding: 0 20px 0 15px;
}
.breadcrumb li:first-child {
	border-right: 1px solid #ddd;
	border-color: #f8ab16 !important;
}
.breadcrumb li a {
	color: #666;
}
.breadcrumb li:first-child:before, 
.breadcrumb li:first-child:after {
	border-color: #f8ab16;
}
.breadcrumb li:after {
	content: "";
	background: #fff;
	border-left: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	display: inline-block;
	height: 17px;
	width: 16px;
	position: absolute;
	transform: rotate(45deg);
	left: -8px;
	top: 3px;
	z-index: 1;
}
/**********************/
/* profile page */
.profile-sidebar{
	padding: 10px 0;
	border: 2px solid #f3f3f3;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background-clip: padding-box;
	margin-bottom: 20px;
	/*background-color: #ffffff;*/
}
.profile-sidebar .profile-img  {
	text-align: center;
}
.profile-sidebar .profile-img img{
	
	height: 120px;
	width: 120px;

}
.orangetd{
	background-color: #f05a23;
	color: #fff;
}
tr.orangeth th{
	background-color: #f05a23;
	color: #fff;
}
tr.blackth th{
	background-color: #999;
	color: #fff;
}
.profile-name {
	color: #666;
}
.profile-sidebar .btn{
	font-size: 20px;
}
.profile-name h5{
	margin-bottom: 0;
}
.text-muted {
	color: #98a6ad !important;
}
.m-r-15{
	margin-right: 15px;
}

.profile-page .nav-tabs li {
	margin: 0 -1px 0px 0;
	border: 1px solid #ddd;
	list-style: none;
	cursor: pointer;
	float: right;
	font-size: 133.33%;
	text-transform: uppercase;
	border-bottom: none;
	background-color: #fff;
	color: #444;
	cursor: pointer;
	position: relative;
}
.profile-page .nav-tabs li.active:before {
	content: "";
	display: inline-block;
	position: absolute;
	height: 4px;
	left: -1px;
	right: -1px;
	top: -4px;
	z-index: 3;
	background: #f7921e;
}
.profile-page .nav-tabs li a {
	font-weight: 700;
	border: none;
	color: #444;
	padding: 10px 30px;
	margin: 0;
	border-radius: 0;
	background: none;
}
.profile-page .nav-tabs li.active a {
	color: #f7921e;
	background: none;
}
.profile-page .nav-tabs>li.active>a, 
.profile-page .nav-tabs>li.active>a:hover, 
.profile-page .nav-tabs>li.active>a:focus{
	border: 0;
}
.profile-page .tab-content {
	padding: 10px;
	display: inline-block;
	width: 100%;
	margin: 0;
	border-style: solid;
	margin-top: -1px;
	border-width: 1px;
	border-color: #e6e6e6;
}
.profile-page .green {
	color: #69AA46!important;
}
.profile-page .orange {
	color: #FF892A!important;
}
.profile-page .blue {
	color: #478FCA!important;
}
.profile-page .pink {
	color: #C6699F!important;
}
.profile-page .green {
	color: #69AA46!important;
}
.profile_details_ul li {
	padding: 5px 0px;
	border-bottom: 1px #999 dotted;
}
.profile_details_ul li label {
	color: #478FCA;
}


.bill .table-bordered>thead>tr>th, 
.bill .table-bordered>tbody>tr>th, 
.bill .table-bordered>tfoot>tr>th, 
.bill .table-bordered>thead>tr>td, 
.bill .table-bordered>tbody>tr>td, 
.bill .table-bordered>tfoot>tr>td {

	vertical-align: middle;
	text-align: center;
}

/*******************/
.navbar-logo img{
	max-height: 50px;
}

/********************/
/****************/
/*about*/
.about_us .part{
	background-color: #fff;
	/* margin-bottom: 30px; */
	padding: 30px 0;
}
.about_us h4{
}
.market_aim {
	padding-top: 15px;
}
.market_aim li {
	list-style: none;
	width: auto;
	line-height: 27px;
	color: #777;
}
.market_aim li span {
	color: #e51c1c;
	padding-left: 10px;
}
.image_of_def{
	text-align: center;
}
.image_of_def img{
	margin-top:50px; 
}
.gray-bg{
	background-color: #eee !important;
}

/***********/
/*radio button*/
.radio-new{
	display: inline-block;
	margin-left: 15px;
}
.radio-new label,.radio-label{
	padding-right: 0;
}
.radio-new input[type="radio"] {
	position: absolute;
	opacity: 0;
}
.radio-new input[type="radio"] + .radio-label:before {
	content: '';
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #f7921e;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -0.2em;
	margin-left: 10px;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio-new input[type="radio"]:checked + .radio-label:before {
	background-color: #f7921e;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio-new input[type="radio"]:focus + .radio-label:before {
	outline: none;
	border-color: #3197ee;
}
.radio-new input[type="radio"]:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}
.radio-new input[type="radio"] + .radio-label:empty:before {
	margin-right: 0;
}


/************/
/*add_product*/
.table-onsr {
	background-color: #fff
}
.well{
	margin-bottom:0 
}
.btn-label {
	position: relative;
	right: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
	border-radius: 3px 0 0 3px;
}
.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}
/*************************/
/*my products */


.col-item {
	border: 1px solid #E1E1E1;
	background: #FFF;
	margin-bottom:12px;
}
.col-item .options {
	position:absolute;
	top:6px;
	right:22px;
}
.col-item .photo {
	overflow: hidden;
	padding: 7px;
}
.col-item .photo .options {
	display:none;
}
.col-item .photo img {
	margin: 0 auto;
	width: 100%;
	height: 230px;
}

.col-item .options-cart {
	position:absolute;
	left:22px;
	top:6px;
	display:none;
}
.col-item .photo:hover .options,
.col-item .photo:hover .options-cart {
	display:block;
	-webkit-animation: fadeIn .5s ease;
	-moz-animation: fadeIn .5s ease;
	-ms-animation: fadeIn .5s ease;
	-o-animation: fadeIn .5s ease;
	animation: fadeIn .5s ease;
}
.col-item .options-cart-round {
	position:absolute;
	left:42%;
	top:22%;
	display:none;
}
.col-item .options-cart-round button {
	border-radius: 50%;
	padding:14px 16px;

}
.col-item .options-cart-round button .fa {
	font-size:22px;
}
.col-item .photo:hover .options-cart-round {
	display:block;
	-webkit-animation: fadeInDown .5s ease;
	-moz-animation: fadeInDown .5s ease;
	-ms-animation: fadeInDown .5s ease;
	-o-animation: fadeInDown .5s ease;
	animation: fadeInDown .5s ease;
}
.col-item .info {
	display: inline-block;
	width: 100%;
	margin-top: 1px;
	padding: 7px;
}
.col-item .price-details {
	width: 100%;
	margin-top: 5px;
}
.col-item .price-details h1 {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	/*float:left;*/
}
.col-item .price-details .details {
	margin-bottom: 0px;
	font-size: 14px;
	color: #00036d;
}
.col-item .price-details span {
	/*float:right;*/
	color: #f05a23;
}
.col-item .price-details .price-new {
	font-size:16px;
}
.col-item .price-details .price-old {
	font-size:18px;
	text-decoration:line-through;
}
.col-item .separator {
	border-top: 1px solid #E1E1E1;
}

.col-item .clear-left {
	clear: left;
}
.col-item .separator a {
	text-decoration:none;
}
.col-item .separator p {
	margin-bottom: 0;
	margin-top: 6px;
	text-align: center;
}

.col-item .separator p i {
	margin-right: 5px;
}
.col-item .btn-add {
	width: 60%;
	float: left;
}
.col-item .btn-add a {
	display:inline-block !important;
}
.col-item .btn-add {
	border-right: 1px solid #E1E1E1;
}
.col-item .btn-details {
	width: 40%;
	float: left;
	padding-left: 10px;
}
.col-item .btn-details a {
	display:inline-block !important;
}
.col-item .btn-details a:first-child {
	margin-right:12px;
}

/***************************/
/* main data */
.kv-avatar .krajee-default.file-preview-frame,
.kv-avatar .krajee-default.file-preview-frame:hover {
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	text-align: center;
}
.kv-avatar {
	display: inline-block;
	width: 100%;
}
.kv-avatar .file-input {
	display: table-cell;
	width: 100%;
}
.kv-reqd {
	color: red;
	font-weight: normal;
}
/******/

td .fa-trash {
	padding: 2px 7px;
	font-size: 12px;
	line-height: 1.5;
	background-color: #ff0000;
	color: #fff;
	border-radius: 2px;
}
td .fa-pencil-square-o {
	padding: 2px 7px;
	font-size: 12px;
	line-height: 1.5;
	background-color: #009688;
	color: #fff;
	border-radius: 2px;
}

/********************/
/* all markets */
.all-markets{

}
.all-markets .market {
	position: relative;
	border: 1px solid #eee;
	box-shadow: 1px 1px 3px #999;
	margin-bottom: 20px;
	overflow:hidden;
}

.market .market-head {
	text-align: center;
	background-color: #f7921e;
	color: #fff;

}
.market .market-head h5{
	margin: 0;
	padding: 10px 0px;
}
.market figure{
	padding: 7px;
	text-align: center;
}
.market figure img {
	max-width: 100%;
	height: 100px;
}
.market .options{
	position: absolute;
	bottom: -50px;
	z-index: 1;
	width: 100%;
	opacity: 0;
	transition: 0.3s all ease-in;
	-webkit-transition: 0.3s all ease-in;
}
.market:hover .options{
	opacity: 1;
	bottom: 0;
}
.options .follow i {
	background-color: #119e00;
	font-size: 22px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 5px;
}
.options .follow i:hover{
	background-color: #f7921e;
	transition: 0.3s all ease-in;
	-webkit-transition: 0.3s all ease-in;
}

.options .like i {
	background-color: #ff0101;
	font-size: 22px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 5px;
}
.options .like i:hover{
	background-color: #f7921e;
	transition: 0.4s all ease-in;
	-webkit-transition: 0.4s all ease-in;
}
.search-mtgr{
	position: relative;
}
.search-mtgr button {
border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    left: 5px;
    bottom: 0px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #f7921e;
    font-size: 20px;
}
.search-mtgr button:hover,
.search-mtgr button:focus{
	 color: green;
}

/********************/
/* page */
.sidebar_title {
    background-color: #f7921e;
    color: #fff;
    padding: 12px;
    margin: 0;
    box-shadow: -2px 2px 8px #000;
    margin-bottom: 5px;
}
.menu_sidebar {
    min-height: 400px;
}
.menu_sidebar {
    padding: 10px 0;
    background-color: #fff;
}
.menu_sidebar ul li.active {
    background-color: #f7921e;
}
.menu_sidebar ul li {
    padding: 10px 3px;
    border-right: 10px solid #f7921e;
    margin-bottom: 5px;
}
.menu_sidebar ul li.active a {
    color: #002542;
}
.menu_sidebar ul li a{
	color: #000;
}
.content_page {
    display: inline-block;
    width: 100%;
    min-height: 445px;
}
.background-white {
    background-color: #fff;
}
h2.subtitle {
    font-size: 16px;
    color: #002542;
    font-weight: bold;
    border-right: 9px solid #ffb61e;
    padding-right: 8px;
    line-height: 40px;
}
.content_page img.img-page {
    margin: 9px 0px 1px 14px !important;
}

.img-page {
    width: 600px;
    max-width: 100%;
}
.content_page .paragraph {
    padding: 0px 5px;
}
.paragraph {
    line-height: 25px;
    font-size: 18px;
    color: #5a5a5a;
}
.content_page .paragraph p {
    text-align: justify;
    font-size: 18px;
}